# <font color="purple"><h3 align="center">Different Ways Of Creating Dataframe</h3></font>

## <font color="green">Using csv</h3></font>

In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using excel</h3></font>

In [3]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 111kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [4]:
df=pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## <font color="green">Using dictionary</h3></font>

In [ ]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

## <font color="green">Using tuples list</h3></font>

In [ ]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

## <font color="green">Using list of dictionaries</h3></font>

In [ ]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

In [7]:
interests_data = {
    'names':['Aditi', 'Rushabh', 'Snehal', 'Subham'],
    'interests':['Javascript','Backend','System Programming','Machine Learning']
}

df = pd.DataFrame(data = interests_data)
df

     names           interests
0    Aditi          Javascript
1  Rushabh             Backend
2   Snehal  System Programming
3   Subham    Machine Learning

In [10]:
df.to_csv("interests_data.csv", index=False)
csv_data = pd.read_csv("interests_data.csv")
csv_data

     names           interests
0    Aditi          Javascript
1  Rushabh             Backend
2   Snehal  System Programming
3   Subham    Machine Learning