In [ ]:
# install the dependencies
%pip install pandas
%pip install matplotlib
%pip install seaborn
# for reading xl
%pip install xlrd

In [ ]:
# import the dependencies
import pandas as pd

In [ ]:
# read the data file
mushroom = pd.read_csv('agaricus-lepiota.data')
mushroom.head()

In [ ]:
features = mushroom.columns
print(features) # names of the features
print(len(features)) # no of features => 23
print(mushroom.info()) # datatypes of the features

In [ ]:
# rename specific column names
mushroom = mushroom.rename(columns={ 'p':'edibility', 'p.1':'odor' })
mushroom.head()
# another soln reinit mushroom.columns = [replace sepcific indices only]

In [ ]:
# replace values from certain columns
mushroom['odor'] = mushroom['odor'].replace({ 'a': 'almond', 'l': 'anise', 'c' : 'creosote', 'y' : 'fishy', 'f' : 'foul', 'm' : 'musty', 'p' : 'pungent', 's' : 'spicy', 'n' : 'none' })
mushroom['edibility'] = mushroom['edibility'].replace({ 'e': 'edible', 'p': 'poisonous' })
mushroom.head()

In [ ]:
# contingency table
mushroom_edibility_freq = pd.crosstab(mushroom.edibility, mushroom.odor, margins=True)
print(mushroom_edibility_freq)
print(mushroom_edibility_freq/len(mushroom)) # proportions

In [ ]:
# avoidable odors -> creosote  fishy  foul  musty pungent  spicy, none(0.419549)
# odorless proportion safe to eat -> 0.014773(all), from none itlsef((120*100)/3528)

In [ ]:
# read nutri data
xls = 'http://www.biostatisticien.eu/springeR/nutrition_elderly.xls'
nutri = pd.read_excel(xls)

In [21]:
# modify type and values of the columns
nutri['gender'] = nutri['gender'].replace({ 1:'Male', 2:'Female' }).astype('category')
nutri['situation'] = nutri['situation'].replace({ 1:'Single', 2:'Living with spouse', 3:'Living with family', 4:'Living with someone else' }).astype('category')
nutri['tea'] = nutri['tea'].astype('int')
nutri['coffee'] = nutri['coffee'].astype('int')
nutri['height'] = nutri['height'].astype('float')
nutri['weight'] = nutri['weight'].astype('float')
nutri['age'] = nutri['age'].astype('float')
nutri['meat'] = nutri['meat'].replace({ 0:'Never', 1:'Less than once a week', 2:'Once a week', 3:'2-3 times a week', 4:'4-6 times a week', 5:'Every day' }).astype('category')
nutri['fish'] = nutri['fish'].replace({ 0:'Never', 1:'Less than once a week', 2:'Once a week', 3:'2-3 times a week', 4:'4-6 times a week', 5:'Every day' }).astype('category')
nutri['raw_fruit'] = nutri['raw_fruit'].replace({ 0:'Never', 1:'Less than once a week', 2:'Once a week', 3:'2-3 times a week', 4:'4-6 times a week', 5:'Every day' }).astype('category')
nutri['cooked_fruit_veg'] = nutri['cooked_fruit_veg'].replace({ 0:'Never', 1:'Less than once a week', 2:'Once a week', 3:'2-3 times a week', 4:'4-6 times a week', 5:'Every day' }).astype('category')
nutri['chocol'] = nutri['chocol'].replace({ 0:'Never', 1:'Less than once a week', 2:'Once a week', 3:'2-3 times a week', 4:'4-6 times a week', 5:'Every day' }).astype('category')
nutri['fat'] = nutri['fat'].replace({ 1:'Butter', 2:'Margarine', 3:'Peanut oil', 4:'Sunflower oil', 5:'Olive oil', 6:'Mix of vegetable oils', 7:'Colza oil', 8:'Duck or goose fat' }).astype('category')

In [22]:
nutri.to_csv('nutri.csv', index=False)

In [2]:
# pandas melt ex
values= [[1.75,85], [2,30,50],[3,100,100], [4,50,52], [5,60,65]]

import pandas as pd 
df = pd. DataFrame (values, columns=['Student', 'Before', 'After'])
df = pd.melt(df, id_vars=['Student'], var_name="Time", value_vars=['Before', 'After'])

df

   Student    Time  value
0     1.75  Before   85.0
1     2.00  Before   30.0
2     3.00  Before  100.0
3     4.00  Before   50.0
4     5.00  Before   60.0
5     1.75   After    NaN
6     2.00   After   50.0
7     3.00   After  100.0
8     4.00   After   52.0
9     5.00   After   65.0